.auth-r-bg{
    background: url(/assets/image/authbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.auth-pad{
    padding: 120px 50px 0px;
}
.auth-pad-cov{
    padding: 50px 150px 0px;
}
.auth-input{
    border: unset;
    border-bottom: 1px solid gray;
    border-radius: 0;
}
.auth-icon-wr{
    background: unset;
    border: unset;
    border-bottom: 1px solid gray;
    border-radius: 0;
}
.auth-input:focus{
    border-color: gray;
    box-shadow: unset;
}
.auth-alltext{
    font-family: 'Nunito Sans';
    font-style: normal;
}
.auth-ewallet{
    font-weight: 400;
    font-size: 29px;
    line-height: 40px;
    color: #FFFFFF;
}
.auth-hcover{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}
.auth-pcover{
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.8);
}
.auth-h1{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #3A3D42;
}
.auth-ptext{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: rgba(58, 61, 66, 0.6);
}