.container{
    margin-left: 150px;
    margin-right: 150px;
}
/* START TOP HEADER */
.top1 {
    display: flex;
    justify-content: space-between;
    height: 1000px;
}
.topleft{
    margin-top: 60px;
    margin-left: 150px;
    width: 50%;
   
}
.topright{
    width: 50%;
    background-color: #6379F4;
    height: 658px;
    border-bottom-left-radius: 150px;
}
.topimage{
    margin-left: 150px;
}
.topbtn{
    margin-top: 60px;
    margin-right: 150px;
    display: flex;
    flex-direction: row-reverse;
}
.ewallet{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 40px;
    color: #6379F4;
}

.toph1{
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin-top: 141px;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
}
.toptext1{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
}
.btn{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 25px;
    text-align: center;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
}
.btntry{
    margin-top: 50px;
    background-color: #6379F4;
    color: #FFFFFF;
    border-color: transparent;
}
.btnhover:hover{
    background-color: #FFFFFF;
    color: #6379F4;
    border-color: #6379F4;
}
.login{
    background-color: #6379F4;
    color: #FFFFFF;
    border-color: #FFFFFF;
    padding: 5px 30px 5px 30px;
}

.sign{
    margin-left: 30px;
    background-color: #6379F4;
    color: #FFFFFF;
    border-color: #FFFFFF;
    padding: 5px 25px 5px 25px;
}
/* END HEADER */

/* START MAIN 1 */
.main1{
    height: 759px;
    background-color: rgba(71, 58, 209, 0.06);;
}
.h1main1{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 93px;
    text-align: center;
    padding-top: 80px;
}
.maintext1{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    padding-bottom: 70px;
}
.boxmain1{
    display: flex;
    justify-content:space-evenly;
}
.box1h{
    text-align: center;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #3A3D42;
}
.box1text{
    text-align: center;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    padding-top: 30px;
    color: #3A3D42E5;
}
.box1main1{
    border: transparent;
    margin: 0px 20px 0px 20px;
    border-radius: 20px;
    background-color: #FFFFFF;
}
/* END MAIN 1 */