body{
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
header{
    background: no-repeat url(/assets/image/headbg.png); 
    background-position: top; 
    background-size: cover;
}
.mrg{
    margin: 0px 150px 0px;
}
.mrgtop{
    margin-top: 63px;
}
.sec-bg1{
    background-color: #E5E5E5;
    
}
h1{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 93px;
    color: #3A3D42;
}
.p1{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    color: #3A3D42;
}
/* header */
.nav-head{
    display: flex;
    justify-content: space-between;
}
.ewallet{
    font-weight: 700;
    font-size: 29px;
    line-height: 40px; 
    color: #FFFFFF;
}
.btn-nav{
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    background-color: #6379F4;
    border-radius: 0.8rem;
    border: 1px solid #FFFF;
    padding: 0.7rem 2rem;
    margin-left: 1rem;
}
.btn-nav:hover{
    background-color: #FFFFFF;
    border-color: #6379F4;
    color: #6379F4;
}
.head-flex{
}
.head-centered{
    display:flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5rem;
}
.head-h1{
    color: #FFFFFF;
    text-align: center;
}
.head-p{
    color: #FFFFFF;
    text-align: center;
}
.last-h1{
    color: #6379F4;
}
.head-btn-try{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #6379F4;
    background-color: #FFFFFF;
    border: 1px solid #6379F4;
    border-radius: 0.8rem;
    padding: 0.7rem 2rem;
    margin-top: 66px;
}
.head-btn-try:hover{
    background-color: #6379F4;
    border-color: #FFFFFF;
    color: #FFFFFF;
}
/* header */
.sec-bg{
    background: rgba(71, 58, 209, 0.06);
    background-size: cover;
}
.marg-spon{
    padding: 2rem 2rem 2rem 2rem;
    margin-left: 100px;
}
/* sec1 */
.sec1-h1{
    text-align: center;
    padding-top: 80px;
}
.sec1-p{
    text-align: center;
    color: #3A3D42;
}
.sec1-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}
.sec1-box{
    margin-top: 70px;
    margin-bottom: 80px;
    border: none;
    border-radius: 1.2rem;
    background-color: #FFFFFF;
    padding: 1rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.sec1-pad{
    padding: 1rem;
    margin-top: 70px;
    margin-bottom: 80px;
}
.sec1-box-logo{
    display: flex;
    justify-content: center;
}
.sec1-box-h3{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #3A3D42;
    text-align: center;
}
.sec1-box-p{
    text-align: center;
    color: rgba(58, 61, 66, 0.9);
}
/* sec1 */
/* sec2 */
.sec2-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.sec2-h1{
    margin: unset;
}
/* sec2 */
/* sec3 */
.sec3-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 0.5rem;
    margin-right: 5rem;
}
.sec3-img{
    /* padding-top: 70px; */
}
.sec3-h1{
    padding-top: 100px;
}
.sec3-box{
    background-color: #FFFFFF;
    border-radius: 1.2rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.sec3-h3{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    color: #3A3D42;
}
/* sec3 */
/* sec4 */
.sec4-box{
    margin-top: 70px;
    margin-bottom: 80px;
    border: none;
    border-radius: 1.2rem;
    background-color: #FFFFFF;
    padding: 5rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
/* sec4 */
/* newsec */
.newsec-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}
.border-m{
    border: 1px solid #E5E5E5;
    background: rgba(71, 58, 209, 0.06);
    border-radius: 6rem;
    text-align: center;
    width: 50rem;
}
.newsec-h1{
    text-align: center;
}
.newsec-p{
    text-align: center;
    padding-bottom: 5rem;
}
/* newsec */
/* footer */
.footer-bg{
    background-color: #6379F4;
    padding-bottom: 2rem;
}
.p-color{
    color: rgba(239, 239, 239, 0.9);
}
.footer-h1{
    padding-top: 80px;
}
.footer-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
.footer-flex{
    margin-top: 5rem;
    border-top: 1px solid;
    border-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.ft-flex{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
footer p{
    color: rgba(239, 239, 239, 0.9);
}